**/.DS_Store
.idea
.phpunit.result.cache
.phpunit.cache
.vscode
build
coverage
docs
node_modules
phpunit.xml
phpstan.neon
vendor
workbench/storage
workbench/.env
workbench/database/*.sqlite

/resources/dist/*
!/resources/dist/.gitkeep
!/resources/dist/filament-loginguard/
/resources/dist/filament-loginguard/*.map

/.opencode
/opencode.json
